<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- Style CSS à renvoyer dans fichier CSS-->
    <style>
        .alert-success { color: green; padding: 10px; border: 1px solid green; margin-bottom: 10px; }
        .alert-warning { color: orange; padding: 10px; border: 1px solid orange; margin-bottom: 10px; }
        .alert-danger { color: red; padding: 10px; border: 1px solid red; margin-bottom: 10px; }
    </style>
    <!-- FIN du Style CSS à renvoyer dans fichier CSS-->


</head>
<body>
    <h1>Register Page</h1>



    <form action="{{ url_for('register') }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="userpass">Password:</label>
        <input type="password" id="userpass" name="userpass" required>
        <br>
        <label for="userpass1">Confirm Password:</label>
        <input type="password" id="userpass1" name="userpass1" required>
        <br>
        <button type="submit">Create Player</button>
    </form>

    <!--
    <script>
        document.getElementById('playerForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent form from submitting the traditional way
            
            const name = document.getElementById('name').value;
            const userpass = document.getElementById('userpass').value;
            const userpass1 = document.getElementById('userpass1').value;
                    fetch('/register', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json',},
                        body: JSON.stringify({ name, userpass, userpass1 }),
                       })
                    .then(response => response.json())
                    .then(data => {
                    if (data.error) {
                     alert('Error : ' + data.error);
                    } else if (data.warn) {
                     alert('Warn : ' + data.warn );
                    } else if (data.info) {
                     alert('Info : ' + data.info );
                    } else if (data.success){
                     alert('Success : ' + data.success)
                    window.location.href = '/login'
                    }

                    }).catch((error) => {
                        alert('Error: ' + error);
                    })
        })
               
    </script>

-->
</body>
</html>
